.aboutm {
    padding-bottom: 0;
     .abt {
        h2 {margin: 0 0 30px 0;
         strong {
            font-size:30px!important;
            }
        }
    }

}
.fol2{
    padding-bottom: 70px;
    .fold2{
        
    }
}
    
    