.login-new {
    display: flex;
    overflow: hidden;
    #login-page{
        height: 100vh; 
    }
    .span{
            color: red;
            display: block;
            text-align: center;
            padding-top: 4px;
        }
        .login-left {
            width: 30%;
            padding: 40px;
            height: 100vh;
            
           background-image: url(../images/1.jpg);
           background-size: cover;
           position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //  background-image: url(../images/bannerweb-2.svg);
                background-size: cover;
                background-position: center;
            }
            .logo {
                display: block;
                padding: 0 0 10px 0;
                position: relative;
                z-index: 1;
                h3 {
                    font-size: 26px;
                    line-height: 36px;
                    padding: 29px 0 10px 0!important;
                    margin: 0;
                    color: #fff;
                }
            }
            .login-num {
                padding: 50px 0 80px 0;
                position: relative;
                list-style: none;
                margin: 0;
                display: inline-block;
                width: 100%;
                li {
                    position: relative;
                    padding: 0px 0 40px 70px;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 1px;
                        height: 100%;
                        background: #fff;
                        display: block;
                        left: 25px;
                    }
                    .icon {
                        position: absolute;
                        left: 0;
                        height: 50px;
                        width: 50px;
                        top: 0px;
                        background: #fff;
                        border-radius: 100px;
                        text-align: center;
                        line-height: 50px;
                        font-size: 20px;
                        color: #000;
                    }
                }
                h5 {
                    font-size: 16px;
                    line-height: 40px;
                    padding: 5px 0 0px 0;
                    margin: 0;
                    color: #fff;
                }
            }
        
            .contact {
                position: relative;
                .clearfix:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                a {
                    font-size: 14px;
                    text-align: left;
                    color: #fff;
                    padding: 0px 0 4px 0;
                    display: block;
                }
                i {
                    margin: 0 4px 0 0;
                }
                h5{
                    font-size: 16px;
                    line-height: 20px;
                    padding: 0px 0 10px 0;
                    margin: 0;
                    color: #fff;          
                }
            }
            
        }
     
        .login-right {
            width: 70%;
            padding: 0 0px;
            height: 100vh;
            overflow-y: hidden;
                justify-content: center;
            background-color: #f4f7fa;
            align-items: center;
            display: flex;

            .login-right-in {
                width: 60%;
            }
            .logo {
                display: block;
                padding: 0 0 10px 0;
            }
            h4 {
                display: block;
                color: #d41919;
                font-size: 30px;
            
                line-height: 20px;
                padding: 0 0 5px 0;
                margin: 0 0 20px 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    width: 100px;
                    height: 2px;
                    background: #004b99;
                    display: block;
                    left: 0;
                }
            }
            .login-sec {
                width: 100%;
                .login-group {
                    display: block;
                    padding: 0 0 20px 0;
                    position: relative;
                    input{
                        display: block;
                        height: 45px;
                        width: 100%;
                        margin: 0 !important;
                        line-height: 45px;
                        padding: 0 10px;
                        border: 1px solid #dadada;
                        background: #fff;
                    }
            }
            
            .button3{
                 width: 100%;
                 }   
            
        }
        }
    }
        
    

.fa-phone-square:before {
    content: "\f098";
}

.form {
    margin: 0;
}

 