
.container-fluid {
    padding: 0;
  }
.slider {
  background-image: url(../images/banner-bg.jpeg);
  background-size: cover;
  overflow:hidden;

  &.slider-in{
    padding: 100px 0;
    text-align: center;
    h1 {
      color: #FFF;
    }
  }
  .slidein {
    position: relative;
    padding: 30px 50px 90px 50px;
    h1 {
       padding-top: 80px;
      font-weight: 700;
      color: #fff;
    }
    p {
      font-weight: 500;
      color: #fff;
      padding: 20px 0;
    }
    .slider-img {
      position: relative;
      padding: 0px 0;
      height: 500px;
      .img1 {
        position: absolute;
        border-radius: 300px;
        display: block;
        margin: 0px auto;
        z-index: 1;
        width: 420px;
        height: 420px;
        opacity: 1;
        left: 50px;
        top: 51px;
      }
      .img2 {
        position: absolute;
        top: 0;
        width: 637px;
        left: 0;
        display: block;
        margin: 0px auto;
      }
    }
    
    .btn_p{
      border-radius:5px;
      padding: 16px 48px;
      margin: 0 10px 0 0;
      height: auto;
      background-color: rgb(212, 25, 25);
      color: #fff;
      border: 1px solid  rgb(212, 25, 25);
      &:hover{
        background-color: #fff;
        color:rgb(212, 25, 25); 
        border: 1px solid  rgb(212, 25, 25);
       }
    }
    .btn_b{
      border-radius:5px;
      margin: 0 10px 0 0;
      padding: 16px 48px;
      left: 20%;
      height:auto;
      background-color: #fff;
      color:rgb(212, 25, 25);
      border: 1px solid rgb(212, 25, 25);
      &:hover{
        background-color:rgb(212, 25, 25);
        color: #fff;
      }
    }
  }
  .default-nav {
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px !important;
    margin: 0 10px;
    padding: 0;
    svg {
      width: 15px;
    }
  }
}
  
.bandblue { 
  position:relative;
  top: -60px;
  margin-bottom: -50px;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 87%;
    background-color: #f1f6fe;
    left: 0;
    top:0;
    border-radius: 0 100px 100px 0;
    box-shadow: 0px 40px 60px rgb(0 0 0 / 5%);
  }
  .talkto-pharmasist {
    padding:15px 20px; 
    height: 120px;
    position: relative;
    z-index: 1;
  }
  img {
    height: 80px;
    width: auto;
    display: block;
    margin: 0px auto;
    padding: 5px 0 0 0;
    float: left;
  }
  h4 { 
    color:#000; 
    font-size:38px; 
    margin:22px 0 0px 30px; 
    display:block; 
    float:left; 
    strong { 
      color:#d41919; 
      font-size:38px; 
      margin:0px 0 0px 10px; 
       
    }
  }
  a { 
    margin: 18px 0 0 ;
    font-size:20px; 
    float:right; 
    height: 55px;
    line-height: 55px;
    transition:ease all 0.3s; 
     
  }
}
 
.home-about {
  padding: 70px 0;
  img {
    width: 92%;
    padding-top: 0px;
    display: block;
    margin: 0px auto;
  }
  h2 {
    font-size: 24px;
    display: block;
    font-weight: normal;
    margin: 0 0 40px 0;
    color: #002270;
    position: relative;
    strong {
      display: block;
      color: #d41919;
      font-size: 50px;
    }
    &:after {
    content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 2px;
      width: 120px;
      display: block;
      background: #002270;
    }
  } 
  p {
    font-size: 16px;
    line-height: 26px;
    color: #444;
    display: block;
    margin: 0 0 20px 0;
  }
}


.home-services {
  padding: 70px 0;
    background: #F7F8FF;
  h2 {
    font-size: 50px;
    display: block;
    font-weight: normal;
    margin: 0 0 28px 0;
    color: #002270;
    position: relative;
    text-align: center;
    strong {
       
      color: #d41919;
      font-size: 50px;
    }
    &:after {
    content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -60px;
      height: 2px;
      width: 120px;
      display: block;
      background: #002270;
    }
  } 
  p {
    font-size: 16px;
    line-height: 26px;
    color: #444;
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
    padding: 0 20%;
  }
  .services-in {
    display: block;
    margin: 25px 0 0 0;
    background: #fff;
    padding: 25px 15px 35px 15px;
    border-radius: 10px;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.05);
    .img-wrap {
      display: block;
      height: 100px;
      width: 100px;
      overflow: hidden;
      margin: 0px auto 15px;
      img {
        display: block;
        margin: 17px auto 0;
      }
    }
    .contant {
      display: block;
      text-align: center;
      h4 {
        font-size: 20px;
        display: block;
        position: relative;
        margin: 0 0 15px 0;
        &:after {
          content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin: 0 0 0 -35px;
            height: 1px;
            width: 70px;
            display: block;
            background: #ddd;
          }
      }
      p {
        font-size: 14px;
        display: block;
        padding: 0 10px;
      }
     
    }
  }
}

.coming-tet { 
  text-align: center;
  h1 {
    font-size: 40px;
  }
 }
.button1 { 
  background: #d41919; 
  border-radius:5px; 
  border:0; 
  line-height:45px; 
  height:45px; 
  padding:0px 30px; 
  color:#fff; 
  box-shadow:0px 0px 20px rgb(0 0 0 / 5%); 
  font-size:15px; 
  font-weight:normal; 
  display:inline-block; 
  border:1px solid #d41919;
  margin-top: 5px ;
  &:hover { 
    background:#fff; 
    color:#d41919;

  }
}
