
.container-fluid{
  padding: 0;
}
.header .dec{
  text-decoration: none!important;
  color: #000!important;
  
}
.header .dec:hover{
  color: #8766ff!important ;
}
 
.header h1{
       font-size: 10px!important;
       text-align: center;
}
.slider .default-nav {
  width: 50px !important; 
  height: 50px !important;
   margin: 0 20px;
}
.slider .default-nav svg{
  margin: 0px auto;
    display: block;
    width: 16px;
}


.home-about {
  padding: 70px 0;
}
.home-about img{
  width: 92%;
  padding-top: 0px;
  height: 84%;
}
 
.home-about h1{
  font-size: 34px;
    display: block;
    font-weight: normal;
    margin: 0 0 40px 0;
    color: #002270;
    font-family: 'Roboto Slab', serif;
    position: relative;
}
.home-about h1:after{
  content: "";
position: absolute;
bottom: -10px;
left: 0;
height: 2px;
width: 120px;
display: block;
background: #002270;
}
.home-about p{
  font-size: 16px;
  line-height: 26px;
  color: #444;
  display: block;
  margin: 0 0 20px 0;
}

 
.home-content{
   
}
.home-cont{
  margin-top: 70px;
}
.home-about{
  overflow: hidden;
}







.slider .slide .img1{
  width: 100%;
    opacity: .6;
  height: 474px;
 }
 
 .btn_p{
  position: absolute;
  top: 65%;
  border-radius: 5px 5px 5px 5px;
  padding: 16px 48px 16px 48px;
  
  left: 5%;
  height: auto;
  background-color: rgb(212, 25, 25);
  color: #fff;
  border: 1px solid  rgb(212, 25, 25);
 }
 .btn_p:hover{
  background-color: #fff;
  color:rgb(212, 25, 25); 
  border: 1px solid  rgb(212, 25, 25);
 }
 .btn_b{
  position: absolute;
  top: 65%;
  border-radius: 5px 5px 5px 5px;
    padding: 16px 48px 16px 48px;
  left: 20%;
  height:auto;
  background-color: #fff;
  color:rgb(212, 25, 25);
  border: 1px solid rgb(212, 25, 25);
 }
  
.btn_b:hover{
  background-color:rgb(212, 25, 25);
  color: #fff;

 }
  
 .slider .slide .img4{
 
  left: 68%;
  position: absolute;
  top: 58px;
  border-radius: 1%;
  height: 353px;
  
 }

  
 
.slide{
  position: relative;
}
.slide h1{
  left: 70px;
  position: absolute;
  top: 121px;
  font-weight: 700;
  color: #fff;
}
.slide p{
  position: absolute;
  top: 230px;
  left: 70px;
  font-weight: 500;
 color: #fff;
}
.slider .container-fluid{
  padding: 0;
  overflow: hidden;
}
.logo{
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.design-ul{
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  
}
.design-li{
  margin-right: 10px;
}
.btn{
  
   background-color: #8766ff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #677fc400;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 48px 16px 48px;
    color: #fff;
  font-weight: 500;
  margin-top: 70px;
}
.btn:hover{
  color:  #8766ff;
    background-color:#fff;
    border-color:   #8766ff;

  

}
 